{% extends 'base.html' %}

{% block content %} <!--여기 안에 들어갈 내용이 바로 base.html의 block content에 넘겨질 내용!-->

	{% if error %}
		{{ error }}
		<br /><br />
	{% endif %}

	{% load staticfiles %}
	<body class="text-center">

		<h1>Login</h1>
		<br /><br />
		<img class="mb-4" src="{% static 'logo.png' %}" alt="" width="72" height="72">
		<br /><br />
		<hr />

		<form method="POST" action="{% url 'login' %}">
		{% csrf_token %} <!-- this code protects our website from attacks-->

			<label>Username:</label><br />
			<input type="text" name="username"/><br />
			<br />
			<label>Password:</label><br />
			<input type="password" name="password"/><br />
			<br />		
			<input class="btn btn-primary" type="submit" value="Login" />	
		</form>

	</body>

{% endblock %}